body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(/static/images/159121.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Color transparente inicial */
    z-index: -1;
    transition: background-color 0.5s ease; /* Transición para cambiar el color de fondo */
}

.body-faded::before {
    background-color: rgba(0, 0, 0, 0.5); /* Color semi-transparente */
}

.tenue{
    animation: tenue 1s ease forwards;
}

@keyframes tenue{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.navbarInicial{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    height: 10vh;
    background-color: #000000;
    color: #fff;
}

.navbarInicial ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    list-style: none;
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
}

.navbarInicial ul li{
    margin: 0 10px;
}

.navbarInicial ul li a{
    text-decoration: none;
    color: #fff;
}

.navbarInicial ul li a:hover{
    color: #ccc;
}

.navbarInicial ul li a:active{
    color: #ccc;
}

.logo-hover{
    animation: zoomLogo 1s ease forwards;
}

@keyframes zoomLogo{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

.menuSecundario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    background-color: #393939;
    color: #fff;
}

.menuSecundario ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
}

.menuSecundario ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;

}

.menuSecundario ul li a{
    text-decoration: none;
    color: #fff;
}

.menuSecundario ul li a:hover{
    color: #ccc;
}

.menuSecundario ul li a:active{
    color: #ccc;
}


/* personajes */
.seccionPersonaje {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw; /* Ancho de la ventana */
    height: 100%; /* Altura de la ventana */
    max-height: 80vh;

    position: absolute;
}
.carrusel {
    display: flex;

    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    align-items: center;
}
.botonesCarrusel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    position: absolute;
}
.imgpj {
    width: 100%;
    height: 100%; /* Establece la altura deseada */
    border-radius: 10px;
    overflow: hidden;
}

.imgpj img {
    width: 100%;
    height: 400px;
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.personajes{
    display: flex;
    margin-top: 3%;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    height: auto;
}

.transicionPersonaje{
    animation: carousel 10s ease-in-out infinite;
}
.tarjetapj a{
    text-decoration: none;
    color: #000000;
}
.tarjetapj {
    background-color: rgb(223, 223, 223, 0.9);
    border-radius: 10px; /* Ajusta este valor según lo redondeados que quieras los bordes */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;

    width: 300px;
 /* Espacio entre las tarjetas */
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.slide {
    animation: aparicion 1s ease forwards;
}

@keyframes aparicion{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.tarjetapj-hover{
    animation: zoom .5s ease forwards;
}

.tarjetapj-img-hover{
    animation: zoom 1s ease forwards;
}


.botonConfirmar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: #000000 1px solid;
    border-radius: 10px;
    height: 2vh;
    width: 10vh;
    margin-bottom: 2vh;
    margin-top: 1vh;
    transition: background-color 0.3s ease; /* Agrega una transición a background-color */
    cursor: pointer;
}

.botonVolver{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: #000000 1px solid;
    border-radius: 10px;
    height: 2vh;
    width: 10vh;
    margin-top: 1vh;
    transition: background-color 0.3s ease; /* Agrega una transición a background-color */
    cursor: pointer;
}

.botonVolver:hover{
    background-color: rgba(49, 124, 80, 0.5);
}

.botonConfirmar:hover{
    background-color: rgba(49, 94, 124, 0.5);
}
#prevBtn{
    margin-left: 5%;
    max-height: 4%;
    max-width: 4%;
    height: 4%;
    width: 4%;
    rotate: 180deg;
    filter: invert(90%);
    cursor: pointer;
}

#nextBtn{
    margin-right: 5%;
    max-height: 4%;
    max-width: 4%;
    height: 4%;
    width: 4%;
    filter: invert(90%);
    cursor: pointer;
}

#prevBtn, #nextBtn{
    transition: transform 0.5s ease-in-out;
}

#prevBtn:hover, #nextBtn:hover{
    transform: scale(1.1);
}

@keyframes carousel{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes zoom{
    0%{
        transform: scale(1);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
    100%{
        transform: scale(1.05);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }
}
.ventanaCreacion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; /* Ancho de la ventana */
    height: 100%; /* Altura de la ventana */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    top: 0;
    left: 0;
}
.bloqueMedioCreacion {
    display: flex;
    flex-direction: row; /* Cambiar la dirección a horizontal */
    justify-content: space-between; /* Colocar espacio entre los elementos */
    align-items: flex-start; /* Alinear elementos en la parte superior */
}
.habilidadesCreacion {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    margin-left: 5%; /* Utiliza porcentajes en lugar de píxeles */
    margin-right: 5%; /* Agregando margen derecho */
    padding: 2%; /* Agregando relleno para separación */
    width: 45%; /* Usando porcentaje para el ancho */
    max-width: 500px; /* Estableciendo un ancho máximo */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .habilidadesCreacion {
        flex-direction: row; /* Cambia la dirección en pantallas pequeñas */
    }
}
.creacionPersonaje {
    display: flex;
    flex-direction: column;
    width: 40vw; /* Ancho del formulario */
    
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(223, 223, 223, 0.9);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}




.card {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    border: 1px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;

}

.card .character-details {
    flex: 1;
    padding: 20px;
    position: relative;
}

/* .card .character-details .character-info{
    top: 7%;
    position: absolute;
} */
.character-image {
    max-width: 500px; /* La imagen no será más ancha que su contenedor */
    height: 700px; /* Mantén la relación de aspecto original */
    border-radius: 10px;
    /* overflow: hidden; */ /* Puedes quitar esta línea, ya que no es necesaria para hacerlo responsive */
    padding-left: 60%;
    position: absolute;
}

.menuPersonaje{
    width: 20%;
    height: 50%;
    position: absolute;
    margin-right: 40%;
    margin-left: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuPersonaje button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: #000000 1px solid;
    border-radius: 10px;
    height: 5vh;
    width: 10vh;
    margin-top: 1vh;
    transition: background-color 0.3s ease; /* Agrega una transición a background-color */
}


.menuPersonaje button:hover {
    background-color: rgba(49, 124, 80, 0.5);
}

.character-image img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
    /* border-radius: 10px; */

    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

.text-center {
    text-align: center;
}

li {
    margin: 5px 0;
}

strong {
    font-weight: bold;
}

.ventanaEmergente {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    box-sizing: border-box; /* Agregar esta línea para usar box-sizing: border-box */
    padding-left: 70vh; /* Puedes agregar el padding sin preocuparte por el desplazamiento */
    padding-top: 35vh;

}
.elementoVentanaUpdate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 100vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Asegúrate de agregarlo aquí también */
}

.elementoVentanaVida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 40vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Asegúrate de agregarlo aquí también */
}

.elementoVentanaVida form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.elementoVentana {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 30vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Asegúrate de agregarlo aquí también */
}

.statsPersonaje{
    width: 20%;
    height: 30%;
    position: absolute;
    margin-right: 40%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.statsPersonaje .vida {
    width: 20vmin; /* Ancho de la esfera en función del viewport mínimo */
    height: 20vmin; /* Altura de la esfera en función del viewport mínimo */
    max-width: 200px; /* Ancho máximo para evitar que la esfera sea demasiado grande en pantallas grandes */
    max-height: 200px; /* Altura máxima */
    background-color: #ccc;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #585858;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.5);
    rotate: 180deg;
    position: relative;
  }
  
  .esfera {
    width: 100%;
    height: 100%;
    background-color: transparent; /* Color de fondo transparente para ocultar el fondo del contenedor */
    border-radius: 50%;
    position: relative;
    justify-content: flex-end;
  }
  
  .liquido {
   overflow: hidden;
   background-color: #811515;
    width: 100%;
    height: 100%;
    position: relative;
  }
.water {
  width: 50vh;
  height: 50vh;
  background-color: #811515;
  box-shadow: inset 0 0 50px #4b0909;

}

.water::before {
  content: "";
  width: 450%;
  height: 450%;
  background-color: #b35a5a;
  position: absolute;
  top: 110%;
  left: -200%;
  border-radius: 40%;
  animation: anim 12s linear infinite;
}

.water::after {
  content: "";
  width: 500%;
  height: 500%;
  background-color: #ccc;
  position: absolute;
  top: 119%;
  left: -210%;
  border-radius: 40%;
  animation: anim 12s linear infinite;
  animation-delay: 0.6s;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contenedorEliminacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;

}

.statsPersonaje h2{

    display: flex;
    padding-top: 100%;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}
.eliminacionPersonaje {
    display: flex;
    flex-direction: column;
    width: 70%; /* Ancho del formulario */
    padding: 20px;
    background-color: #fff;
    /* justify-content: center; */
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(223, 223, 223, 0.9);
}

.imgElim{

    display: flex;
    width: 10vh;
    height: 10vh; /* Establece la altura deseada */
    border-radius: 10px;
    padding-left: 1vh;
    position: absolute;
}

.imgElim img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
    /* border-radius: 10px; */

    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

.datosPersonajeElim{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;

    box-shadow: #000000 0px 0px 7px 0px;
    height: 7vh;
    width: 100%;
    margin-bottom: 3%;
    border-radius: 10px;
}

.eliminacionPersonaje .infoPjElim{
    display: flex;
    position: relative;
    /* flex-direction: row; */
    justify-content: space-between;
    width: 80%;
    /* margin-left: 10%; */
    margin-left: 10%;

}

.listaElim{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tituloElim{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}

.botonEliminar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: #000000 1px solid;
    border-radius: 10px;
    height: 5vh;
    width: 10vh;
    margin-top: 1vh;
}

.botonEliminar a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}
