<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dnd Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body id="body" class="container">
    <nav>
        <div class="navbarInicial">
            <ul >
                <li></li>
                <li class="elementosMenu" id="logoDado">
                    <a href="/">
                        <img src="{{ url_for('static', filename='images/d20-2699387_1280-3.webp') }}" width="70" height="75" alt="">
                    </a>
                </li>
                <li class = "elementosMenu">
                    <a href="/">iniciar</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="menuSecundario">

            <ul class = "listaComandos">
                <li class = "elementosMenu">
                    <a href="/">Inicio</a>
                </li>
                <li class = "elementosMenu">
                    <a href="personajes">Personajes</a>
                </li>
                <li class = "elementosMenu">
                    <a href="creacion">Crear Personaje</a>
                </li>
                <li class = "elementosMenu">
                    <a href="/templates/characters.html">Eliminar Personaje</a>
                </li>
                <li class = "elementosMenu">
                    <a href="reglamento">Reglamento</a>
                </li>
            </ul>

    </div>
    {% block body %}

    {% endblock %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>