<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dnd Web</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container">
    <nav>
        <div class="navbarInicial">
            <ul >
                <li></li>
                <li class="elementosMenu" id="logoDado">
                    <a href="/index.html">
                        <img src="/images/d20-2699387_1280-3.webp" width="70" height="75" alt="">
                    </a>
                </li>
                <li class = "elementosMenu">
                    <a href="/login.html">iniciar</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="menuSecundario">

            <ul class = "listaComandos">
                <li class = "elementosMenu">
                    <a href="/index.html">Inicio</a>
                </li>
                <li class = "elementosMenu">
                    <a href="/pgs/characters.html">Personajes</a>
                </li>
                <li class = "elementosMenu">
                    <a href="/pgs/crateCharacter.html">Crear Personaje</a>
                </li>
                <li class = "elementosMenu">
                    <a href="/pgs/characters.html">Eliminar Personaje</a>
                </li>
                <li class = "elementosMenu">
                    <a href="/elems/D&D5Manual.pdf">Reglamento</a>
                </li>
            </ul>

    </div>

    <div id="textP">
        <h2 id="bw">Personajes</h2>
    </div>

    
    
    <script src="/js/script.js"></script>
</body>
</html>