{% extends "./base.html" %}
{% block body %}
<div class="seccionPersonaje">
        {% for personaje in personajes %}
        <div class="personajes" id="zonaPersonajes">
            <a href="personaje/{{personaje.0}}" data-id="{{personaje.0}}">
                <div class="tarjetapj" id="tarjetaPj">
                    <div class="imgpj" id="imagenPj">
                        {% if personaje.17 is not none %}
                            <img class="imagen" src="{{ url_for('static', filename='imagenesPersonajes/' + personaje.16) }}" height="100%" width="100%">
                        {% else %}
                            {% if personaje.16 == "masculino" %}
                                <img class="imagen" src="{{ url_for('static', filename='imagenesPersonajes/' + personaje.2 + 'm.jpg') }}" height="100%" width="100%">
                            {% else %}
                                <img class="imagen" src="{{ url_for('static', filename='imagenesPersonajes/' + personaje.2 + 'f.jpg') }}" height="100%" width="100%">
                            {% endif %}
                        {% endif %}
                    </div>
                    
                    <div class="infopj">
                        <h3>Nombre: {{personaje.1}}</h3> 
                        <h3>Raza: {{personaje.2}}</h3>
                        <h3>Vida: {{personaje.14}}</h3>
                        <h3>Mana: {{personaje.15}}</h3>
                        <h3>Clase: {{personaje.4}}</h3>
                        <h3>Nivel: {{personaje.5}}</h3>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>


{% endblock %}