{% extends "./base.html" %}
{% block body %}
<div class = "contenedorEliminacion">
    <div class="eliminacionPersonaje">

        <h1 class="tituloElim">Eliminar Personajes</h1>
        
            {% for personaje in personajes %}
            <div class="listaElim">
                <div class = "datosPersonajeElim">
                <div class="imgElim">

                    {% if personaje.imagen is not none %}
                    <img class="imagen" src="{{ url_for('static', filename='imagenesPersonajes/' + personaje.imagen) }}" height="100%" width="100%">
                        {% else %}
                        {% if personaje.sexo == "masculino" %}
                        <img class="imagen" src="{{ url_for('static', filename='imagenesPersonajes/' + personaje.raza + 'm.jpg') }}" height="100%" width="100%">
                        {% else %}
                        <img class="imagen" src="{{ url_for('static', filename='imagenesPersonajes/' + personaje.raza + 'f.jpg') }}" height="100%" width="100%">
                        {% endif %}
                    {% endif %}
                </div>
                <div class="infoPjElim">

                    <h2>{{ personaje.nombre }}</h2>
                    <h2>Raza: {{ personaje.raza }}</h2>
                    <h2>Clase: {{ personaje.clase }}</h2>
                    <!-- Agrega más detalles del personaje si es necesario -->
                
                    <div class="botonEliminar">
                        <a href="eliminar/{{personaje.id}}" data-id="{{personaje.id}}">
                            Eliminar
                        </a>
                    </div>
                   
                </div>
                </div>
            </div>
            {% endfor %}
       
    </div>

</div>
{% endblock %}